p {
  font-family: Lato;
}
.container {

 

  padding: 100px;
  margin: 60px;
background-color: rgba(4, 7, 161, 0.842);
color:white;

}
.error{
  color:red;
}
.watercolor{
   color: rgb(115, 131, 221); 
  
}
.compulsory{
  color: red;
}

.pull-left1 
{ 
  margin-left: 70px; 
 }
 label {
   text-align:right;
   }

