p {
  font-family: Lato;
}
.container {

 
  border:90px;
  padding: 90px;
  margin: 30px;
background-color: rgba(4, 7, 161, 0.842);
color:white;

}
.error{
  color:red;
}
.watercolor{
   color: rgb(115, 131, 221); 
  
}
.compulsory{
  color: red;
}

