

<div class="container" >
    
    <h6 class="watercolor cp" >FILE DISPUTE</h6>
    <h5 class="cp"> Fill out the form below</h5>
    <h6 class="cp">Lorem ipsum dolor sit amet, consectetur adipisiscing elit,sed do eiusmod tempor incidiunt ut labore et dolore magna aliqua<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip laboris nis aliquip commando consequeat.  </h6>
    <p>{{dummy|dotdotdot:20}}</p>

    <br>

{{fname|dotdotdot:5}}
  <form name="myform" [formGroup]="myform">  

    <div class="form-group row  ">
         <label for="name" class="col-sm-2 col-form-label">FULLNAME<span class="compulsory">*</span></label>
       <div class="col-sm-8 " >
         
          <input appCustomEllipse  id="name" class="form-control"
      formControlName="name" >
      

      <span  class ="error" *ngIf="(myform.get('name').errors?.required && myform.controls.name.touched)||(myform.get('name').errors?.required && submitted) ">name is required.</span> 

          <span class ="error" *ngIf="(myform.get('name').errors?.pattern && myform.controls.name.touched)||(myform.get('name').errors?.pattern && submitted) ">name is not valid </span>
          <span class ="error" *ngIf="(myform.get('name').errors?.maxlength && myform.controls.name.touched)||(myform.get('name').errors?.maxlength && submitted)">max length is 20 </span>
          
          
     
      </div>
    </div>

     <div class="form-group row">
         <label for="email" class="col-sm-2  col-form-label">  EMAIL<span class="compulsory">*</span></label>
       <div class="col-sm-8">
          <input type="text" class="form-control " placeholder="e.g. email@email.com" formControlName="email" id="email1"
           >

          <span  class ="error" *ngIf="myform.get('email').errors?.required && myform.controls.email.touched ||(myform.get('email').errors?.required && submitted)   ">EMAIL is required.</span> 

          <span class ="error" *ngIf="myform.get('email').errors?.pattern && myform.controls.email.touched ||(myform.get('email').errors?.pattern && submitted) ">EMAIL is not valid </span>


           

      </div>
    </div>

      <div class="form-group row">
         <label for="phone" class="col-sm-2 col-form-label ">PHONE</label>
       <div class="col-sm-6">
          <input type="text" class="form-control  "  placeholder="+1(555)-555-5555" formControlName="phone">
          <span class ="error" *ngIf="myform.controls.phone.touched && myform.controls.phone.invalid && submitted ">phone is not valid</span>
      </div>
    </div>

    

    <div class="form-group row">
    <label for="attachment" class="pull-left1" >UPLOAD <br> ATTACHMENT</label>
    
    <div class="col-sm-8 ml-3">
    <input type="file"  class="form-control-file"  id="attachment" formControlName="attachment" (change)="getFileDetails($event)"  
    accept="image/*,.pdf">
    <span class = "error" *ngIf="submitted && fileflag">File Size should be less than 5 mb.</span> 
    <span class = "error" *ngIf="myform.get('attachment').errors?.pattern && myform.controls.attachment.dirty ">File type not supported.</span> 
    
    </div>
  </div>




      <div class="form-group row">
         <label for="comment" class="col-sm-2 col-form-label ">COMMENT</label>
       <div class="col-sm-8 mt-0">
          <textarea class="form-control " id="Comment" rows="7" formControlName="comment"></textarea>
          <span class ="error" *ngIf="myform.get('comment').errors?.maxlength && myform.controls.comment.touched ||(myform.get('comment').errors?.maxlength && submitted)">Enter 500 below characters</span>
           
      </div>
    </div>
    
        <div class="form-group row   col-sm-4 float-right mr-2  ">
            
        
      <button type="button" class="btn btn-success bstyle" (click)="onSubmit()">SUBMIT DISPUTE</button>
            
        </div>



    

  </form>
      
    
  </div>
