
.container {


  padding: 100px;
  margin: 60px;
  background-color: rgb(17,75,125);
 font-size: 12px;
  color: #f9fbfd;
  position: relative;
  text-align: center;


}
.error{
  color:red;
}
.watercolor{
   color: rgb(94, 173, 226); 
  
}
.compulsory{
  color: red;
}

.pull-left1 
{ 
  margin-left: 70px; 
 }
 label {
   text-align:right;
   }

   .cp{
     text-align: left;
   }

   .bstyle{
     background-color: rgb(141,199,63);
   }

  

 
