

<div class="container" >
    
    <h6 class="watercolor" >FILE DISPUTE</h6>
    <h5> Fill out the form below</h5>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisiscing elit,sed do eiusmod tempor incidiunt ut labore et dolore magna aliqua<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip laboris nisi  </h6>

    <br>


  <form [formGroup]="myform">  

    <div class="form-group row  ">
         <label for="name" class="col-sm-2 col-form-label  ">FULLNAME</label>
       <div class="col-sm-8 " >
          <input type="email" class="form-control pull-left   " id="fullname" formControlName="name">
          <span class ="error" *ngIf="myform.controls.name.invalid && myform.controls.name.touched">Name is not valid</span>
          
      </div>
    </div>





     <div class="form-group row">
         <label for="email" class="col-sm-2 col-form-label">Email<span class="compulsory">*</span></label>
       <div class="col-sm-8">
          <input type="email" class="form-control pull-left" placeholder="e.g. email@email.com" id="email">
      </div>
    </div>


       
      <div class="form-group row">
         <label for="phone" class="col-sm-2 col-form-label ">Phone</label>
       <div class="col-sm-6">
          <input type="text" class="form-control pull-left "  placeholder="(555)555-5555"id="phone">
      </div>
    </div>

    

    <div class="form-group row">
    <label for="exampleFormControlFile1 col-sm-2 pl-3" >Upload <br> Attachment</label>
    
    <div class="col-sm-8">
    <input type="file"  class="form-control-file ml-4  pull-left " id="attachment">
    </div>
  </div>




      <div class="form-group row">
         <label for="comment" class="col-sm-2 col-form-label ">Comment<span class="compulsory">*</span></label>
       <div class="col-sm-8">
          <textarea class="form-control pull-left" id="exampleFormControlTextarea1" rows="9"></textarea>
      </div>
    </div>
    
        <div class="form-group row   col-sm-4 float-right ml-5 ">
            
        
      <button type="button" class="btn btn-success ">SUBMIT DISPUTE</button>
            
        </div>



    

  </form>
      
    
  </div>
